@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <p>A</p>
    <ul class="coures">
        @foreach(var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lectuer">
                        @course.Lectuer.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
                @course.DateTime - @course.Lectuer.Name
            </li>
        }
    </ul>
</div>
